# Ignore the database for commits
instance/*

# Ignore python Cache files
*.py[cod]
*.py.class
*.vscode
*.pyc
__pycache__/
*__pycache__/
*/__pycache__/
**/__pycache__/
__pychache__
/app/__pycache__/*
*_log_file.txt