{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block body %}
    <div class="center">
        <h1>Welcome to Webmap</h1>
    </div>
    <button onclick="fetch('/update_data')">refresh data</button>
    <div class="center">
        <h2>add a Network or Host</h2>
    </div>
    <div class="center">
        <input id="ip_with_cidr" placeholder="192.168.1.1/24">
    </div>
    <div class="center">
        <button onclick="send_data()">create Network / Host</button>
    </div>
    <div class="center">
        <p id="error"></p>
    </div>
    <div class="center">
        <div id="spinner" class="loader"></div>
    </div>
{% endblock %}
